body,
html {
    height: 100%;
    font-family: "Roboto", sans-serif;
    background-color: var(--body-bg-color);
}

main {
    padding: 0 5%;
}

:root {
    --body-bg-color: #ECF0F3;
    --color1: #2c2f50;
    --color2: #ff6021;
    --color3: #323232;
    --icon-color: #6748CD;
    --logo-span-button: #2FF093;
    --text-color1: #fff;
    --text-color2: #6f7070;
    --text-color3: #000;
}

a,
ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    align-items: center;
}

h1,
h2,
h3,
h4,
h5,
p {
    padding: 0;
    margin: 0;
}

.logo a {
    color: var(--logo-span-button);
    font-size: 25px;
}

.header {
    border-radius: 50px;
}

.header .menu li a {
    color: var(--text-color2);
}

.header .menu li a:hover {
    color: var(--logo-span-button);
}

.header .menu .active {
    color: var(--logo-span-button);
}

section {
    margin-top: 5%;
}

.sidebar {
    border-radius: 20px;
    height: 750px;
}

.sidebar .self-info h4 {
    font-size: 20px;
    color: var(--color3);
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
}

.sidebar .self-info h4 span {
    color: var(--logo-span-button);
}

.sidebar .self-info p {
    font-size: 15px;
    color: var(--color3);
}

.sidebar .social i {
    font-size: 18px;
    color: var(--text-color2);
}

.sidebar .social a {
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 9px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.sidebar .social i:hover {
    color: var(--text-color3);
}

.sidebar .button {
    margin: 10px 40px;
}

.sidebar .button .hire-me-btn {
    background-color: var(--logo-span-button);
    color: var(--text-color3);
    font-weight: 500;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
    border: 2px solid var(--body-bg-color);
    transition: 0.3s ease-in-out;
}

.sidebar .button .hire-me-btn:hover {
    border: 2px solid var(--logo-span-button);
    background-color: var(--body-bg-color);
}

.sidebar .button .CV-btn {
    background-color: var(--color1);
    color: var(--text-color1);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
    border: 2px solid var(--body-bg-color);
    transition: 0.3s ease-in-out;
}

.sidebar .button .CV-btn:hover {
    border: 2px solid var(--logo-span-button);
    background-color: var(--body-bg-color);
    color: var(--text-color3);
}

.profile {
    border-radius: 15px;
    margin: 0 0 20px 30px;
    padding: 5% 4%;
    background-color: var(--text-color1);
}

.profile h4 {
    color: var(--text-color2);
    font-size: 22px;
}

.profile h1 {
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 50px;
}

.profile h1 span {
    color: var(--logo-span-button);
}

.profile p {
    color: var(--text-color2);
    text-align: justify;
}

.details {
    margin: 30px 0 0 30px;
}

.about {
    border-radius: 15px;
    background-color: var(--text-color1);
    padding: 5% 10%;
    width: 95%;
    height: 190px;
}

.about .logo a {
    font-size: 38px;
}

.about .about-link p {
    color: var(--text-color2);
}

.about .about-link h2 {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.about .about-link a {
    color: var(--color3);
    font-family: "Oswald", sans-serif;
}

.service {
    border-radius: 15px;
    background-color: var(--text-color1);
    padding: 5% 10%;
    width: 95%;
    height: 240px;
}

.service .service-icon i {
    font-size: 50px;
    color: var(--icon-color);
    width: 80px;
    height: 90px;
    border-radius: 9px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: center;
    align-items: center;
}

.service .service-link p {
    color: var(--text-color2);
}

.service .service-link h2 {
    font-size: 23px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.service .service-link a {
    color: var(--color3);
    font-family: "Oswald", sans-serif;
}

.project {
    border-radius: 15px;
    background-color: var(--text-color1);
    padding: 6%;
    width: 100%;
    height: 300px;
}

.project .showcase .showcase-1 {
    border-radius: 15px;
    background-image: url(../images/app.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 150px;
}

.project .showcase .showcase-2 {
    border-radius: 15px;
    background-image: url(../images/web.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 150px;
}

.project .project-link p {
    color: var(--text-color2);
}

.project .project-link h2 {
    font-size: 23px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.project .project-link a {
    color: var(--color3);
    font-family: "Oswald", sans-serif;
}

.blog {
    border-radius: 15px;
    padding: 6%;
    width: 100%;
    height: 130px;
    background-color: var(--logo-span-button);
}

.contact {
    border-radius: 15px;
    padding: 6%;
    background-color: var(--text-color1);
    width: 100%;
    height: 130px;
}

.blog-contact .blog .blog-link p,
.contact .contact-link p {
    color: var(--text-color2);
}

.blog-contact .blog .blog-link h2,
.contact .contact-link h2 {
    font-size: 23px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.blog-contact .blog .blog-link a,
.contact .contact-link a {
    color: var(--color3);
    font-family: "Oswald", sans-serif;
}

.testimonials {
    border-radius: 15px;
    margin: 30px 0 30px 30px;
    padding: 5% 4%;
    background-color: var(--text-color1);
}

footer {
    border-radius: 50px;
}


/* Responsive Mobile view */
@media (max-width: 768px) {
    .header {
        width: 90%;
        margin: 0 auto;
    }
    .menu {
        display: none;
    }
}

@media (max-width: 768px) {
    .sidebar{
        width: 85%;
        margin: 0 auto;
    }
    .button {
        width: 60%;
        margin: 0 auto !important;
    }
}

@media (max-width: 768px) {
    .main_body {
        margin-top: 50px;
    }
    .profile {
        width: 90%;
        margin: 0 auto;
        padding: 35px;
    }
    h1 {
        font-size: 40px !important;
    }
}

@media (max-width: 768px) {
    .details {
        display: block !important;
        margin-top: 50px;
    }
    .project-contact {
        margin-top: 50px;
        width: 95%;
    }
}